DATABASE_URL=postgresql://username:password@localhost:5432/insighta
REDIS_URL=redis://localhost:6379
GITHUB_CLIENT_ID=your_github_oauth_app_client_id
GITHUB_CLIENT_SECRET=your_github_oauth_app_client_secret
CALLBACK_URL=http://localhost:8000/auth/github/callback
JWT_SECRET_KEY=some_long_random_string_here
